@import "/Users/jaserader/dev/homework/week03/thursday/bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "/Users/jaserader/dev/homework/week03/thursday/bower_components/neat/app/assets/stylesheets/_neat.scss";

* {
  box-sizing: border-box;
}

main {
  @include outer-container;

  h3 {
    text-align: center;
  }
}

section {
  @include span-columns(10 of 12);
  @include shift(2);
  height: 70px;
  }

.row1 {
  #clear {
    @include span-columns(2.13 of 10);
    background: #3EBB55;
    margin: 0;
    color: #fff;
    font-size: 5vw;
    font-weight: lighter;
    border: 1px #fff solid;
    height: 70px;
  }

  div.answer {
    @include span-columns(5.8 of 10);
    height: 70px;
    background: #3EBB55;
    border: 1px #fff solid;


    span {
      @include span-columns(10 of 10);
      height: 70px;
      font-size: 5vw;
      font-weight: lighter;
      font-family: sans-serif;
      color: #fff;
      text-align: right;
      padding-top: 25px;
      padding-right: 5px;
    }
  }
}

section input:focus {
  outline: none;
}

.row2,
.row3,
.row4,
.row5 {
  input {
    @include span-columns(2.5);
    margin-right: 0;
    background: #3EBB55;
    color: #fff;
    font-size: 5vw;
    font-weight: lighter;
    border: 1px #fff solid;
    height: 100%;
    display:block;

    &:last-child {
      background: #6CCA78;
      color: black;

      &:focus {
        color: #fff;
      }
    }
  }
}

#equals {
  background: #6CCA78;
  color: black;

  &:focus {
    color: #fff;
  }
}
